<div layout-fill class="chat-room">
  <section class="next-stations-info">
    <img src="/assets/images/train.png" class="train-img">
    <img src="/assets/images/train.png" class="train-img">
    <img src="/assets/images/arrow.png" class="arrow-img">
    <div class="next-stations-label">
      <span class="next-stations-station-name"> {{room.stations[room.stationIndex]}} </span>
    </div>
    <img src="/assets/images/arrow.png" class="arrow-img">
    <div class="next-stations-label">
      <span class="next-stations-station-name"> {{room.stations[room.stationIndex+1]}} </span>
    </div>

  </section>
  <section class="chat-area">
    <section class="chat-item" ng-repeat="item in room.items">
      <section class="chat-item-icon-container">
        <div class="chat-item-icon">
          <img ng-src="assets/images/{{item.animal}}.png" class="chat-animal-icon-img">
        </div>
        <div class="chat-item-time-msg-container">
          <div class="chat-item-time">
            {{room.transTime(item.time)}}
          </div>
          <div class="chat-item-message">
            {{item.message}}
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="chat-send-message">
    <div class="chat-user-icon">
      <img ng-src="assets/images/{{room.user}}.png" class="chat-animal-icon-img">
    </div>
    <div class="chat-input-message">
      <input type="text" ng-model="room.messageText">
    </div>
    <div class="chat-submit">
      <button class="chat-submit-btn" ng-click="room.sendMessage()">Send</button>
    </div>
  </section>
</div>
